*{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0 auto;
    background-image: url(../img/bg.jpg);
    font-family: sans-serif;
}

.container {
    vertical-align: middle;
}